* {
    border: 1px solid black;
}

body {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

.bio-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.profile-img {
    max-width: 300px;
    max-height: 300px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    /* margin: auto; */
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 1rem;
}

.card-image {
    min-width: 281px;
    max-width: 281px;
    max-height: auto;
}

.card {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

/* Tablet */
@media (max-width: 700px) {
    .bio-container {
        width: 100%;
        margin: 0 1rem 0 1rem;
        gap: 0.75rem;
    }
}

/* Smartphone */
@media (max-width: 490px) {
    h1 {
        text-align: center;
    }
    .bio-container {
        flex-direction: column;
    }
}